<div class="brightness-100 bg-cover bg-center bg-gray-100 text-gray-700 font-bold flex justify-items-center items-start flex-col" style="background-image: url(https://res.cloudinary.com/dm95tqeqt/image/upload/v1700200857/xdcplafkulvgzkvzlpsx.jpg)" >
    <div class="bg-gradient-to-r from-gray-900 py-20 lg:py-30 xl:py-30 2xl:py-40">
        <h1 class="drop-shadow-lg px-3 rounded-md text-white ml-4 text-5xl"> {{title}}</h1>
        <p class="mt-1 ml-7 text-gray-600"><span class="bg-gray-500 text-gray-300 font-normal text-xs align-middle px-2 py-1 rounded transform hover:text-white hover:text-sm">PRODUCTOS: {{inventoryLenght}}</span></p>
    </div>
</div>
<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 p-6">
  {{#each products}}
  <div class="bg-white rounded-lg shadow-md overflow-hidden">
    <img class="w-full h-48 object-cover object-center transition duration-300 transform hover:scale-105" src="{{firstThumbnail this.thumbnails}}" alt="{{this.title}}">
    <div class="p-4">
        <div class="flex flex-row justify-between">
            <div class="flexflex-wrap">
                <h4 class="text-lg font-semibold mb-1 mr-2">{{toUpperCase this.title}}</h4>
                <div class="flex mb-1">
                     <p class="text-gray-600 mr-1"><span class="bg-slate-200 text-black font-light text-xs px-2 py-0.5 rounded-md transform hover:bg-black hover:text-white hover:text-sm"><span class="font-bold">ID:</span> {{this.id}}</span></p>
                     <p class="text-gray-600"><span class="bg-slate-200 text-black font-light text-xs px-2 py-0.5 rounded-md transform hover:bg-black hover:text-white hover:text-sm"><span class="font-bold">Código:</span> {{this.code}}</span></p>
                </div>
            </div>
            <p class="text-gray-600"><span class="bg-slate-800 text-gray-200 font-light text-xs align-middle px-2 py-1 rounded transform hover:text-white hover:text-sm"><span class="font-bold">{{this.price}} USD</span> </span></p>
        </div>
      <hr class="mb-2 mt-1">
      <p class="text-gray-600"><span class="bg-slate-200 text-black font-normal text-xs px-2 py-0.5 rounded-md transform hover:bg-black hover:text-white hover:text-sm"><span class="font-bold">Descripción:</span> {{this.description}}</span></p>
      <p class="text-gray-600"><span class="bg-slate-200 text-black font-normal text-xs px-2 py-0.5 rounded-md transform hover:bg-black hover:text-white hover:text-sm"><span class="font-bold">Categoria:</span> {{this.category}}</span></p>
      <p class="text-gray-600"><span class="bg-slate-200 text-black font-normal text-xs px-2 py-0.5 rounded-md transform hover:bg-black hover:text-white hover:text-sm"><span class="font-bold">Status:</span> {{this.status}}</span></p>
      <p class="text-gray-600"><span class="bg-slate-200 text-black font-normal text-xs px-2 py-0.5 rounded-md transform hover:bg-black hover:text-white hover:text-sm"><span class="font-bold">Stock:</span> {{this.stock}}</span></p>
    </div>
  </div>
  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>